In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Fetch tweets

In [20]:

base_url = 'https://twitter.com/anyuser/status'
status = '541278904204668929'


url = '{}/{}'.format(base_url, status)
print(url)
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')

https://twitter.com/anyuser/status/541278904204668929

In [21]:
tmp = soup.find('p', class_='TweetTextSize TweetTextSize--jumbo js-tweet-text tweet-text')

In [22]:
tmp.getText()

'Become a data scientist in 8 steps | Infograhic http://bit.ly/1u22gSM\xa0 @MLatMSFT #machinelearning #datascience'

# Read status

In [27]:
tweets = pd.read_csv('../data/tweets_open.csv', header=None)

In [28]:
len(tweets)

534963

In [29]:
tweets.head(1)

       0      1                   2  3  4  5  6    7
0  10025  10000  522407718091366400  0  0  1  1  0.0

In [32]:
tweets[2].values[0]

522407718091366400